<!-- 中间容器开始 -->
<section id="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1" style="width: 50%; margin: auto auto 300px 300px">
                <div class="contact-box text-center">
                    <form id="" action="register.php" method="post">
                        <div class="form-group"><input type="text" class="form-control" id="subject" name="username"
                                                       placeholder="用户名"></div>
                        <div class="form-group"><input type="text" class="form-control" id="subject" name="password"
                                                       placeholder="密码"></div>
                        <button type="submit">确认注册</button>
                        <div id="form-messages"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 中间容器结束 -->